SOAPLibClient/SOAPLibClient/Service References/LibServiceReference/LibWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFilterListOfStrings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilterListOfStringsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilterListOfStringsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFilterListOfStringsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilterListOfStrings" />
  </wsdl:message>
  <wsdl:message name="GetFilterListOfStringsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilterListOfStringsResponse" />
  </wsdl:message>
  <wsdl:portType name="LibWebServiceSoap">
    <wsdl:operation name="GetFilterListOfStrings">
      <wsdl:input message="tns:GetFilterListOfStringsSoapIn" />
      <wsdl:output message="tns:GetFilterListOfStringsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibWebServiceSoap" type="tns:LibWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilterListOfStrings">
      <soap:operation soapAction="http://tempuri.org/GetFilterListOfStrings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LibWebServiceSoap12" type="tns:LibWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilterListOfStrings">
      <soap12:operation soapAction="http://tempuri.org/GetFilterListOfStrings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibWebService">
    <wsdl:port name="LibWebServiceSoap" binding="tns:LibWebServiceSoap">
      <soap:address location="http://localhost:9190/LibWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LibWebServiceSoap12" binding="tns:LibWebServiceSoap12">
      <soap12:address location="http://localhost:9190/LibWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>